[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MetabolicSurv"]
	path = MetabolicSurv
	url = https://github.com/olajumokeevangelina/metabolicsurv
